<div *ngIf="isLoggedIn">
  <p>Logged in!</p>
</div>
<form class="login-form" *ngIf="!isLoggedIn" (ngSubmit)="logIn()" [formGroup]="form">
  <mat-form-field class="login-form-email">
    <input matInput placeholder="EMail" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Email is <strong>not valid</strong>
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="login-form-password">
    <input matInput type="password"  placeholder="Password" [formControl]="passwordFormControl" [errorStateMatcher]="matcher">
    <mat-error *ngIf="passwordFormControl.hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <button  mat-button type="submit">Log in</button>
</form>