$grid-start-width: 600px
  
#game
  display: block
  @media only screen and (min-width: $grid-start-width) 
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-rows: 150px auto
    grid-template-areas: "menues state" "menues click"
  


  app-game-click
    grid-area: click
    display: block

  
  app-game-state
    grid-area: state
    display: block


  app-game-menues
    grid-area: menues
    display: block


  